*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#main{
    width: 100%;
    height: 100%;
    font-family: "Lato", sans-serif;
    
}
#header{
    height: 45px;
    background-color: #000;
    position: fixed;
    top: 0;
    width: 100%;
}
.nav li a{
    color: white;
    text-decoration: none;
    padding:0px 20px;
    line-height: 45px;
    text-transform: uppercase;
    
    
}
.nav >  li:hover > a{
    background-color: #ccc;
    display: block;
    color: #000;
    
}
.nav li{
    display: inline-block;
    height: 45px;
    
}
.searh{
    float: right;
}
.subnav {
    position: absolute;
    display: none;
}
.subnav li a{
    color: #000;
    text-transform: none;
    
}
.subnav li{
    display: block;
    background-color: white;
    min-width: 200px;
    
}
.subnav li:hover a{
    color: black;
    background-color: #ccc;
    display: block;
   
}
.nav li:hover .subnav{
    display: block;
}
#slider{
    height: 720px;
    background: url("la.jpg") no-repeat;
    background-size: cover;
    
}
#slider .slider-content{
    color: white;
    text-align: center;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}
#content{
   
    height: 672px;
}
.sub-content{
    width: 800px;
    height: 672px;
    margin: 0px 350px;
    padding: 70px 20px;
}
.sub-content h2{
    margin: 20px 0px;
    text-transform: uppercase;
    text-align: center;
}
.sub-content .text{
    margin: 20px 0px;
    text-align: center;

}
.sub-content .text1{
    text-align: justify;
    display: block;
    margin: 20px 0px;  
}
.user{
    width: 800px;
    height: 287px;
    display: flex;
    
}
.user .user1{
    width: 256px;
    height: 223px;
    margin: 30px 0px;
    display: block;
    float: left;
}
.user .user2{
    width: 256px;
    height: 223px;
    margin: 30px 0px;

}
.user .user3{
    width: 256px;
    height: 223px;
    margin: 30px 0px;
    float: right;
}
.user1 p{
    text-align: center;
    margin: 15px 0px;
    width: 100%;
}
.user1 img{
    margin: 0px 50.5px;
}
.user2 p{
    text-align: center;
    margin: 15px 0px;
    width: 100%;
}
.user2 img{
    margin: 0px 50.5px;
}
.user3 p{
    text-align: center;
    margin: 15px 0px;
    width: 100%;
}
.user3 img{
    margin: 0px 50.5px;
}
#tour{
    width: 100%;
    height: 847px;
    background-color: #000;
}
#tour .tour-content{
    width: 800px;
    height: 846px;
    margin: 0px auto;
    padding: 64px 14px;
    text-align: center;
}
#tour > .tour-content > h2{
    
    display: block;
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    margin: 20px 0;
    color: white;
}
#tour > .tour-content > i{
    font-style: italic;   
    color: white;
    margin: 15px 0px;
}
.september{
    background-color: white;
    height: 40px;
    border-bottom: 1px solid #ddd;
    text-align:left;
    padding: 10px 16px;
    margin-top: 30px;
}
.soldout{
    background-color: red;
    color: white;
    margin-left: 20px;
    padding-left: 8px;
    padding-right: 8px;
    
}
.october{
    background-color: white;
    height: 40px;
    border-bottom: 1px solid #ddd;
    text-align:left;
    padding: 10px 16px;
    
}
.november{
    background-color: white;
    height: 40px;
    text-align:left;
    padding: 10px 16px;    
}
.three{
    background-color: #000;
    padding: 4px 8px 4px 8px;
    color: white;
    display: inline-block;
    border-radius: 50%;
    float: right;
    margin-top: -2px;
    margin-right: 20px;
}
.left{
    width: 245px;
    height: 390px;
    background-color: white;
    margin: 35px 0px;
    float: left;
}
.right{
 
    width: 245px;
    height: 390px;
    background-color: white;
    float: right;
    margin: 35px 0px;
  
}
.center{
    width: 245px;
    height: 390px;
    background-color: white;
    margin: 35px 0px;
    display: inline-block;
}
.left p {
    width: 100%;
    margin: 15px 0px;
    padding: 0px 10px;
    text-align: left;
}
.center p {
    width: 100%;
    margin: 15px 0px;
    padding: 0px 10px;
    text-align: left;
}
.right p {
    width: 100%;
    margin: 15px 0px;
    padding: 0px 10px;
    text-align: left;
}
button{
    width: 108px;
    height: 38px;
    background-color: #000;
    color: white;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    border: none;
}
button:hover{
    background-color: #ccc;
    color: #000;
}
.color-img{
    background-color: #000;
    height: 190px;
   
}
.tour-content img:hover{
    opacity: 0.6;    
}
#contact{
 
    width: 768px;
    height: 311px;

    margin: 64px auto;
    
}
.contact-title{
    text-align: center;
    
}
.sub-add{
    width: 384px;
    height: 81px;
    float: left;
    margin-top: 50px;
    line-height: 1.5;
    font-size: 18px;
    
}
input{
    width: 166px;
    height: 35px;
    margin-top: 50px;
    float: right;
}
.sud-message{
    width: 347px;
    margin-top: 10px;
}
.sud-mail{
    margin-right: 15px;
   
}
.send{
    float: right;
    margin-top: 20px;
    width: 70px;
    text-transform: uppercase;
}
